<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>TODO App Demo</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
	<script src="libs/angular/angular.js"></script>
	<script src="app.js"></script>
</head>
<body class="well" ng-controller="todoCtrl">
	<h1>{{appName}}</h1>

	<p>전체 할 일 <strong>{{todoList.length}}</strong>개 / 남은 할일은 <strong>{{remain()}}</strong>개 [ <a href="" ng-click="archive()">보관하기</a> ]</p>

	<ul class="list-unstyled">
		<li ng-repeat="todo in todoList" class="checkbox">
			<input type="checkbox" ng-model="todo.done">{{todo.title}}
		</li>
	</ul>

	<form action="" class="form-inline">
		<div class="form-group">
			<label for="" class="sr-only">새로운 할 일</label>
			<input type="text" class="form-control" placeholder="새로운 할 일" ng-model="newTitle">
		</div>
		<button type="submit" class="btn btn-default" ng-click="addNewTodo(newTitle)">추가</button>
	</form>
</body>
</html>