<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<script src="libs/angular/angular.js"></script>
	<style type="text/css">
		.apple {
			background-color: red;
		}
		.lemon {
			background-color: yellow;
		}
		.even {
			background-color: blue;
		}
	</style>
	<script>
		function mainCtrl($scope) {
			$scope.bgStyle = {
				backgroundColor: 'red'
			};
			$scope.changeColor = function(color) {
				$scope.bgStyle.backgroundColor = color;
			}
		}
	</script>
</head>
<body>
	<div ng-init="fruitList = ['apple', 'banana', 'tomato', 'lemon', 'grape']">
		<ul>
			<li ng-repeat="fruit in fruitList" ng-class="'{{fruit}}'">{{fruit}}</li>
		</ul>
		<ul>
			<li ng-repeat="fruit in fruitList" ng-class="{'even':{{$index%2==0}}}">{{fruit}}</li>
		</ul>
	</div>
	<div ng-controller="mainCtrl">
		<div ng-style="bgStyle">{{bgStyle.backgroundColor}}</div>
		<button ng-click="changeColor('yellow')">색변경</button>
	</div>
</body>
</html>