<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<script src="libs/angular/angular.js"></script>
	<script>
		function customerCtrl($scope) {
			var customerList = [{name:'영희', age:10}, {name:'순희', age:28}];
			var youngCustomerList = [];
			angular.forEach(customerList, function(value, key) {
				if (value.age < 18) {
					youngCustomerList.push(value);
				}
			});

			$scope.customerList = customerList;
			$scope.youngCustomerList = youngCustomerList;
		}
	</script>
</head>
<body ng-controller="customerCtrl">
	<div>
		고객목록
		<ul>
			<li ng-repeat="customer in customerList">
				[{{$index + 1}}] 고객이름: {{customer.name}}, 고객 나이 : {{customer.age}}
			</li>
		</ul>
	</div>	
	<div>
		18세 미만 고객
		<ul>
			<li ng-repeat="youngCustomer in youngCustomerList">
				[{{$index + 1}}] 고객이름: {{youngCustomer.name}}, 고객 나이 : {{youngCustomer.age}}
			</li>
		</ul>
		
	</div>
</body>
</html>