<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<script src="libs/angular/angular.js"></script>
</head>
<body>
	<form name="sampleForm" ng-init="name = '철수'">
		이름: <input type="text" name="name" ng-model="name" ng-maxlength="3" ng-required="true">
		<span class="error" ng-show="sampleForm.name.$error.required">필수입력</span>
		<br/>
		핸드폰 번호: <input type="text" name="tel" ng-model="tel" ng-pattern="/^\d{3}-\d{3,4}-\d{4}$/">
		<span class="error" ng-show="sampleForm.tel.$error.pattern">000-0000-0000</span>
		<br/>
		<p>사용자 정보: {{name}}/{{tel}}</p>
		<p>sampleForm.name.$valid = {{sampleForm.name.$valid}}</p>
		<p>sampleForm.name.$error = {{sampleForm.name.$error}}</p>
		<p>sampleForm.tel.$valid = {{sampleForm.tel.$valid}}</p>
		<p>sampleForm.tel.$error = {{sampleForm.tel.$error}}</p>
		<p>sampleForm.$valid = {{sampleForm.$valid}}</p>
		<p>sampleForm.$error.required = {{sampleForm.$error.required}}</p>
	</form>	
	<p></p>
	<form name="sampleForm2" ng-init="value1 = true; value2 = '좋다';">
		선택 1: <input type="checkbox" name="check1" ng-model="value1">
		선택 2: <input type="checkbox" name="check2" ng-model="value2" ng-true-value="좋다" ng-false-value="싫다">
		<br/>
		<p>선택1의 바인딩된 값: {{value1}}</p>
		<p>선택2의 바인딩된 값: {{value2}}</p>
	</form>
	<p></p>
	<div ng-init="countryList = [{name:'한국', code:'KR', continent:'아시아'}, {name:'미국', code:'en', continent:'북미'}, {name:'일본', code:'jr', continent:'아시아'}]">
		<form name="myRouteForm">
			<div>
				출발 국가: 
				<select ng-model="depCountry" ng-options="country.name for country in countryList" ng-required="true">
					<option value="">선택하여 주세요</option>
				</select>
			</div>
			<div>
				경유 국가: 
				<select ng-model="viaCountry" ng-options="country.name as country.name for country in countryList">
					<option value="">선택하여 주세요</option>
				</select>
			</div>
			<div>
				도착 국가(대륙 그룹별): 
				<select ng-model="arrCountry" ng-options="country.name group by country.continent for country in countryList" ng-required="true">
					<option value="">선택하여 주세요</option>
				</select>
			</div>
		</form>
		<div>
			<p>출발 국가: {{depCountry.name}}</p>
			<p>경유 국가: {{viaCountry}}</p>
			<p>도착 국가: {{arrCountry.name}}</p>
		</div>
		<div ng-show="myRouteForm.$invalid">
			출발 국가와 도착 국가는 필히 선택해주세요.
		</div>
	</div>
</body>
</html>